coverage
flake8
Flask
Flask-APScheduler
flask-security-too[common]
Flask-SQLAlchemy
flask_admin
humanize
isort[requirements_deprecated_finder]
pre-commit
pycairo
pyflakes
pytest
pytest-cov
pytest-mock
pytest-timeout
python-decouple
