<div id="dashboard">
    <div class="row" style="margin-top: 20px">
        <div class="col">
            <h6>Last DNS update:</h6>
            {% if dashboard.records_last_updated_at %}
                {{ dashboard.records_last_updated_at.strftime('%Y-%m-%d, %H:%M:%S') }}
            {% else %}
                Unknown
            {% endif %}
        </div>
        <div class="col">
            <h6>Update interval (minutes):</h6>
            {{ dashboard.update_interval }}
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-heading"><h6>Last {{ dashboard.log_length }} log records from the app start:</h6></div>
            </div>
            {% for entry in dashboard.log %}
                <div class="panel-body .col-2">{{ entry }}</div>
            {% endfor %}
        </div>
    </div>
</div>
