{% extends 'admin/master.html' %}
{% block head %}
{{ super() }}
{{ turbo() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                {% if not current_user.is_authenticated %}
                    You need to
                    <a href="{{ url_for('security.login') }}" >Log in</a>
                    <script type="text/javascript">
                        window.location.href = "{{ url_for('security.login') }}";
                    </script>
                {% else %}
                    <div>
                        <div class="row">
                            <div class="col">
                                <h6>Uptime:</h6>
                                <time class="uptime" datetime="{{ dashboard.started }}"></time>
                            </div>
                        </div>
                        {% include "admin/dashboard.html" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
